# Used by Pyppeteer
pyee
eventlet&gt;=0.38.0
feedgen~=0.9
flask-compress
# 0.6.3 included compatibility fix for werkzeug 3.x (2.x had deprecation of url handlers)
flask-login&gt;=0.6.3
flask-paginate
flask_expects_json~=1.7
flask_restful
flask_cors # For the Chrome extension to operate
flask_wtf~=1.2
flask~=2.3
inscriptis~=2.2
pytz
timeago~=1.0
validators~=0.21
# Set these versions together to avoid a RequestsDependencyWarning
# &gt;= 2.26 also adds Brotli support if brotli is installed
brotli~=1.0
requests[socks]
requests-file
urllib3==1.26.19
chardet&gt;2.3.0
wtforms~=3.0
jsonpath-ng~=1.5.3
# jq not available on Windows so must be installed manually
# Notification library
apprise==1.9.0
# apprise mqtt https://github.com/dgtlmoon/changedetection.io/issues/315
# use any version other than 2.0.x due to https://github.com/eclipse/paho.mqtt.python/issues/814
paho-mqtt!=2.0.*
# Used for CSS filtering
beautifulsoup4
# XPath filtering, lxml is required by bs4 anyway, but put it here to be safe.
# #2328 - 5.2.0 and 5.2.1 had extra CPU flag CFLAGS set which was not compatible on older hardware
#         It could be advantageous to run its own pypi package here with those performance flags set
#         https://bugs.launchpad.net/lxml/+bug/2059910/comments/16
lxml &gt;=4.8.0,&lt;6,!=5.2.0,!=5.2.1
# XPath 2.0-3.1 support - 4.2.0 broke something?
elementpath==4.1.5
selenium~=4.14.0
# https://github.com/pallets/werkzeug/issues/2985
# Maybe related to pytest?
werkzeug==3.0.6
# Templating, so far just in the URLs but in the future can be for the notifications also
jinja2~=3.1
jinja2-time
openpyxl
# https://peps.python.org/pep-0508/#environment-markers
# https://github.com/dgtlmoon/changedetection.io/pull/1009
jq~=1.3; python_version &gt;= "3.8" and sys_platform == "darwin"
jq~=1.3; python_version &gt;= "3.8" and sys_platform == "linux"
# playwright is installed at Dockerfile build time because it's not available on all platforms
pyppeteer-ng==2.0.0rc5
pyppeteerstealth&gt;=0.0.4
# Include pytest, so if theres a support issue we can ask them to run these tests on their setup
pytest ~=7.2
pytest-flask ~=1.2
# Anything 4.0 and up but not 5.0
jsonschema ~= 4.0
loguru
# For scraping all possible metadata relating to products so we can do better restock detection
extruct
# For cleaning up unknown currency formats
babel
# Needed for &gt; 3.10, https://github.com/microsoft/playwright-python/issues/2096
greenlet &gt;= 3.0.3
# This file was autogenerated by uv via the following command:
#    bazel run @//python_scio/requirements:generate_requirements_linux_txt
absl-py==1.0.0
# via
#   -r python_scio/requirements/bazel_requirements.in.3.10
#   keras
#   tensorboard
#   tensorflow
#   tensorflow-lattice
#   tensorflow-ranking
accelerate==0.34.2
#   peft
acme==3.1.0
# via certbot
aenum==3.1.11
#   okta
#   reportportal-client
aiobotocore==2.17.0
# via -r python_scio/requirements/bazel_requirements.in.3.10
aiohappyeyeballs==2.6.1
# via aiohttp
aiohttp==3.10.9
#   aiobotocore
#   aiohttp-retry
#   cloud-sql-python-connector
#   datasets
#   fsspec
#   langchain-community
#   litellm
#   microsoft-kiota-authentication-azure
aiohttp-retry==2.9.1
aioice==0.9.0
#   aiortc
aioitertools==0.12.0
# via aiobotocore
aiortc==1.9.0
aiosignal==1.3.2
#   aiohttp
allure-python-commons==2.14.2
# via behavex
altair==4.2.2
#   streamlit
#   streamlit-aggrid
amqp==5.3.1
# via kombu
annotated-types==0.7.0
# via pydantic
anthropic[vertex]==0.55.0
antlr4-tools==0.2.1
anyio==4.9.0
#   anthropic
#   browserbase
#   httpx
#   mcp
#   openai
#   sse-starlette
#   starlette
apache-beam[gcp]==2.59.0
appnope==0.1.3
apscheduler==3.10.4
argon2-cffi==23.1.0
#   notebook
argon2-cffi-bindings==21.2.0
#   argon2-cffi
asana==5.0.7
asgiref==3.7.2
#   connexion
#   opentelemetry-instrumentation-asgi
astroid==3.2.2
asttokens==2.4.0
#   icecream
astunparse==1.6.3
async-timeout==4.0.3
#   langchain
#   redis
atlassian-python-api==3.41.19
attrs==23.1.0
#   allure-python-commons
#   boxsdk
#   cyclopts
#   jsonschema
#   outcome
#   pytype
#   referencing
#   trio
authlib==1.6.1
# via fastmcp
av==12.3.0
# via aiortc
awslambdaric==3.0.0
azure-ai-ml==1.24.0
azure-common==1.1.28
#   azure-ai-ml
#   azure-mgmt-authorization
#   azure-mgmt-compute
#   azure-mgmt-containerinstance
#   azure-mgmt-containerservice
#   azure-mgmt-keyvault
#   azure-mgmt-kubernetesconfiguration
#   azure-mgmt-loganalytics
#   azure-mgmt-msi
#   azure-mgmt-network
#   azure-mgmt-quota
#   azure-mgmt-rdbms
#   azure-mgmt-resource
#   azure-mgmt-resourcegraph
#   azure-mgmt-servicebus
#   azure-mgmt-storage
#   azure-mgmt-subscription
#   azure-mgmt-web
azure-containerregistry==1.2.0
azure-core==1.31.0
#   azure-containerregistry
#   azure-core-tracing-opentelemetry
#   azure-identity
#   azure-keyvault-keys
#   azure-keyvault-secrets
#   azure-mgmt-core
#   azure-monitor-ingestion
#   azure-monitor-opentelemetry
#   azure-monitor-opentelemetry-exporter
#   azure-monitor-query
#   azure-servicebus
#   azure-storage-blob
#   azure-storage-file-datalake
#   azure-storage-file-share
#   msrest
azure-core-tracing-opentelemetry==1.0.0b11
# via azure-monitor-opentelemetry
azure-functions==1.20.0
azure-identity==1.16.1
#   msgraph-sdk
azure-keyvault-keys==4.9.0
azure-keyvault-secrets==4.8.0
azure-mgmt-authorization==4.0.0
azure-mgmt-compute==34.1.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerservice==32.1.0
azure-mgmt-core==1.5.0
azure-mgmt-keyvault==11.0.0
azure-mgmt-kubernetesconfiguration==3.1.0
azure-mgmt-loganalytics==12.0.0
azure-mgmt-msi==7.0.0
azure-mgmt-network==28.0.0
azure-mgmt-quota==2.0.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-resource==23.4.0
azure-mgmt-resourcegraph==8.0.0
azure-mgmt-servicebus==8.2.0
azure-mgmt-storage==22.1.1
azure-mgmt-subscription==3.1.1
azure-mgmt-web==8.0.0
azure-monitor-ingestion==1.0.4
azure-monitor-opentelemetry==1.6.3
# via azure-ai-ml
azure-monitor-opentelemetry-exporter==1.0.0b33
azure-monitor-query==1.3.0
azure-servicebus==7.12.3
azure-storage-blob==12.23.0
azure-storage-file-datalake==12.17.0
azure-storage-file-share==12.20.1
backcall==0.2.0
#   ipython
backoff==2.2.1
# via posthog
backports-tarfile==1.2.0
# via jaraco-context
bcrypt==4.0.1
#   paramiko
beautifulsoup4==4.12.2
#   atlassian-python-api
#   gdown
#   markdownify
#   nbconvert
behave==1.2.6
#   behave-reportportal
#   behave-testrail-reporter
#   behavex
#   behavex-images
behave-reportportal==1.0.1
behave-testrail-reporter==0.5.1
behavex==4.2.0
behavex-images==3.2.0
bitarray==2.9.2
# via bloomfilter-py
bleach==6.1.0
blinker==1.9.0
# via streamlit
blis==0.7.10
#   thinc
bloomfilter-py==1.1.0
boto3==1.35.90
#   watchtower
botocore==1.35.90
#   boto3
#   s3transfer
boxsdk[jwt]==3.14.0
brotli==1.1.0
#   geventhttpclient
browser-cookie3==0.19.1
browserbase==1.4.0
build==1.0.3
#   pip-tools
cachetools==4.2.4
#   apache-beam
#   google-auth
#   zenpy
catalogue==2.0.9
#   spacy
#   srsly
certbot==3.1.0
certifi==2024.2.2
#   asana
#   httpcore
#   httplib2shim
#   kubernetes
#   opsgenie-sdk
#   requests
#   selenium
cffi==1.15.1
#   argon2-cffi-bindings
#   cryptography
#   pylibsrtp
#   pynacl
cfgv==3.4.0
#   pre-commit
chardet==5.2.0
#   pdfminer-six
charset-normalizer==2.0.12
click==8.1.7
#   flask
#   functions-framework
#   nltk
#   sacremoses
#   typer
#   uvicorn
cloud-sql-python-connector==1.11.0
cloudevents==1.11.0
cloudpathlib==0.21.1
# via weasel
cloudpickle==2.2.1
colorama==0.4.6
#   griffe
coloredlogs==14.0
comm==0.1.4
#   ipykernel
confection==0.1.5
#   weasel
configargparse==1.7
#   certbot
#   locust
configobj==5.0.9
configparser==4.0.2
connexion==3.0.6
contourpy==1.3.1
# via matplotlib
cramjam==2.9.1
# via python-snappy
crc32c==2.0
crcmod==1.7
crontab==0.23.0
cryptography==42.0.4
#   acme
#   authlib
#   josepy
#   jwcrypto
#   msal
#   pydrive2
#   pyjwt
#   pyopenssl
#   secretstorage
csscompressor==0.9.5
cycler==0.11.0
#   matplotlib
cyclopts==3.22.5
cymem==2.0.7
#   preshed
cython==0.29.36
#   hdbscan
dataclasses-json==0.6.7
# via langchain-community
datasets==2.0.0
dateparser==1.1.8
db-dtypes==1.2.0
#   google-cloud-bigquery
debugpy==1.7.0
decorator==5.1.1
#   retry2
deepdiff==8.6.1
defusedxml==0.7.1
delayed-assert==0.3.6
# via reportportal-client
deprecated==1.2.14
#   opentelemetry-api
#   opentelemetry-exporter-otlp-proto-http
#   opentelemetry-semantic-conventions
#   pygithub
deprecation==2.1.0
#   cloudevents
dill==0.3.1.1
#   multiprocess
diskcache==5.4.0
distlib==0.3.7
#   virtualenv
distro==1.9.0
#   posthog
dnspython==2.4.2
#   aioice
#   email-validator
#   pymongo
docker==7.1.0
docopt==0.6.2
#   hdfs
#   mwcli
docstring-parser==0.16
#   google-cloud-aiplatform
docutils==0.22
# via rich-rst
ecdsa==0.19.1
# via sendgrid
email-validator==2.2.0
emoji==2.2.0
#   stanza
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
entrypoints==0.4
#   altair
exceptiongroup==1.2.2
#   anyio
#   fastmcp
#   pytest
#   trio-websocket
executing==1.2.0
fastapi==0.115.14
#   opencensus-ext-fastapi
fastavro==1.8.1
fasteners==0.18
#   google-apitools
fastjsonschema==2.18.0
#   nbformat
fastmcp==2.11.2
filelock==3.6.0
#   huggingface-hub
#   torch
#   transformers
fixedint==0.1.6
# via azure-monitor-opentelemetry-exporter
flask==2.2.5
#   flask-cors
#   flask-login
#   opencensus-ext-flask
flask-cors==4.0.2
flask-login==0.6.3
flatbuffers==24.3.25
flatdict==4.0.1
fonttools==4.56.0
frozenlist==1.4.0
#   aiosignal
fsspec[http]==2023.9.2
functions-framework==3.8.0
gast==0.4.0
gdown==4.7.1
#   nlpaug
gevent==24.2.1
geventhttpclient==2.3.1
gin-config==0.5.0
gitdb==4.0.10
#   gitpython
gitpython==3.1.41
glean-indexing-api-client @ https://app.glean.com/meta/indexing_api_client.zip
google-ai-generativelanguage==0.6.4
#   google-generativeai
google-api-core[grpc]==2.21.0
#   google-ai-generativelanguage
#   google-api-python-client
#   google-cloud-appengine-logging
#   google-cloud-artifact-registry
#   google-cloud-bigquery-storage
#   google-cloud-bigtable
#   google-cloud-compute
#   google-cloud-container
#   google-cloud-core
#   google-cloud-datastore
#   google-cloud-dlp
#   google-cloud-iam
#   google-cloud-kms
#   google-cloud-language
#   google-cloud-logging
#   google-cloud-memcache
#   google-cloud-monitoring
#   google-cloud-pubsub
#   google-cloud-pubsublite
#   google-cloud-quotas
#   google-cloud-recommendations-ai
#   google-cloud-resource-manager
#   google-cloud-run
#   google-cloud-secret-manager
#   google-cloud-service-usage
#   google-cloud-spanner
#   google-cloud-storage
#   google-cloud-storage-transfer
#   google-cloud-trace
#   google-cloud-videointelligence
#   google-cloud-vision
#   google-cloud-workflows
#   opencensus
google-api-python-client==2.149.0
#   google-cloud-profiler
google-apitools==0.5.31
google-auth[requests]==2.35.0
#   google-api-core
#   google-auth-httplib2
#   google-auth-oauthlib
#   keyrings-google-artifactregistry-auth
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.5.3
google-cloud-aiplatform==1.70.0
google-cloud-appengine-logging==1.3.1
google-cloud-artifact-registry==1.11.5
google-cloud-audit-log==0.2.5
google-cloud-bigquery[pandas]==3.26.0
google-cloud-bigquery-storage==2.27.0
google-cloud-bigtable==2.21.0
google-cloud-compute==1.19.2
google-cloud-container==2.52.0
google-cloud-core==2.4.1
google-cloud-datastore==2.18.0
google-cloud-dlp==3.12.2
google-cloud-iam==2.15.2
google-cloud-kms==2.24.2
google-cloud-language==2.11.0
google-cloud-logging==3.11.3
google-cloud-memcache==1.12.1
google-cloud-monitoring==2.27.0
#   opencensus-ext-stackdriver
#   opentelemetry-exporter-gcp-monitoring
google-cloud-profiler==4.1.0
google-cloud-pubsub==2.26.1
google-cloud-pubsublite==1.8.3
google-cloud-quotas==0.1.10
google-cloud-recommendations-ai==0.10.4
google-cloud-resource-manager==1.12.5
google-cloud-run==0.10.4
google-cloud-secret-manager==2.20.2
google-cloud-service-usage==1.11.1
google-cloud-spanner==3.40.1
google-cloud-storage==2.18.2
google-cloud-storage-transfer==1.12.0
google-cloud-trace==0.24.2
#   opentelemetry-exporter-gcp-trace
google-cloud-videointelligence==2.11.3
google-cloud-vision==3.4.4
google-cloud-workflows==1.14.5
google-crc32c==1.5.0
#   google-resumable-media
google-generativeai==0.5.4
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos[grpc]==1.62.0
#   google-cloud-audit-log
#   grpc-google-iam-v1
#   grpcio-status
graphviz==0.20.1
#   pytextrank
greenlet==3.0.3
#   gevent
#   playwright
#   sqlalchemy
griffe==1.7.3
# via openai-agents
grpc-google-iam-v1==0.13.1
grpcio==1.56.2
#   googleapis-common-protos
#   qdrant-client
#   tensorflow-serving-api
grpcio-status==1.48.2
gunicorn==22.0.0
#   uvicorn-worker
h11==0.16.0
#   wsproto
h2==4.2.0
# via httpx
h5py==3.13.0
hdbscan==0.8.33
hdfs==2.7.2
hnswlib==0.7.0
hpack==4.1.0
# via h2
httpcore==1.0.9
httplib2==0.19.1
#   oauth2client
httplib2shim==0.0.3
httpx[http2]==0.28.1
#   langsmith
#   microsoft-kiota-http
#   msgraph-core
httpx-sse==0.4.1
huggingface-hub==0.30.0
#   accelerate
#   sentence-transformers
#   tokenizers
humanfriendly==10.0
#   coloredlogs
hvac==2.3.0
hyperframe==6.1.0
icecream==2.1.3
identify==2.5.31
idna==3.7
#   yarl
ifaddr==0.2.0
# via aioice
importlab==0.8
importlib-metadata==8.4.0
#   keyring
#   opentelemetry-instrumentation-flask
importlib-resources==5.4.0
inflect==5.3.0
inflection==0.5.1
iniconfig==2.0.0
install-jdk==1.1.0
#   antlr4-tools
ipykernel==6.25.2
ipython==7.31.1
#   itables
ipython-genutils==0.2.0
isodate==0.6.1
#   openapi-core
itables==2.1.2
itsdangerous==2.0.1
janome==0.5.0
jaraco-classes==3.4.0
# via keyring
jaraco-context==6.0.1
jaraco-functools==4.1.0
jedi==0.19.0
jeepney==0.8.0
#   browser-cookie3
jieba==0.42.1
jinja2==3.1.2
#   pydeck
jiter==0.6.1
jmespath==1.0.1
#   botocore
joblib==1.2.0
#   scikit-learn
josepy==1.15.0
jpype1==1.5.0
js2py==0.74
jsonable==0.3.1
# via mwtypes
jsonnet==0.18.0
jsonpatch==1.33
# via langchain-core
jsonpickle==3.0.2
jsonpointer==3.0.0
# via jsonpatch
jsonschema==4.22.0
#   mwxml
#   openapi-schema-validator
#   openapi-spec-validator
jsonschema-path==0.3.4
jsonschema-specifications==2023.7.1
jupyter-client==8.3.1
#   nbclient
jupyter-core==5.3.1
#   jupyter-client
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.2.2
jwcrypto==1.5.6
#   python-dxf
keras==3.9.2
# via tensorflow
keybert==0.7.0
keyring==25.5.0
keyrings-google-artifactregistry-auth==1.1.2
kiwisolver==1.4.5
kombu==5.4.2
kubernetes==25.3.0
langchain==0.3.25
langchain-community==0.3.16
langchain-core==0.3.63
#   langchain-openai
#   langchain-text-splitters
langchain-openai==0.3.19
langchain-text-splitters==0.3.8
# via langchain
langcodes==3.3.0
langsmith==0.1.129
#   langchain-core
lark==1.2.2
# via python-hcl2
lazy-object-proxy==1.11.0
# via openapi-spec-validator
libclang==16.0.6
litellm==1.73.1
locust==2.24.1
lz4==4.3.3
# via browser-cookie3
markdown==3.4.4
markdown-it-py==2.2.0
#   rich
markdownify==1.1.0
markupsafe==2.1.3
#   jinja2
#   werkzeug
marshmallow==3.26.1
#   dataclasses-json
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mcp==1.12.4
#   openai-agents
mdurl==0.1.2
#   markdown-it-py
mecab-ko==1.0.1
mecab-ko-dic==1.0.0
#   mecab-ko
mem0ai==0.1.100
mergedeep==1.3.4
microsoft-kiota-abstractions==1.9.3
#   microsoft-kiota-serialization-form
#   microsoft-kiota-serialization-json
#   microsoft-kiota-serialization-multipart
#   microsoft-kiota-serialization-text
microsoft-kiota-authentication-azure==1.9.3
# via msgraph-core
microsoft-kiota-http==1.9.3
microsoft-kiota-serialization-form==1.9.3
# via msgraph-sdk
microsoft-kiota-serialization-json==1.9.3
microsoft-kiota-serialization-multipart==1.9.3
microsoft-kiota-serialization-text==1.9.3
minify-html==0.16.4
mistune==3.0.2
ml-dtypes==0.4.1
mmh3==4.1.0
#   bloomfilter-py
monotonic==1.6
more-itertools==9.1.0
#   jaraco-classes
#   jaraco-functools
mpmath==1.3.0
#   sympy
msal==1.24.0
#   msal-extensions
msal-extensions==1.1.0
msgpack==1.0.8
msgraph-core==1.3.4
msgraph-sdk==1.34.0
msrest==0.7.1
multidict==6.0.4
multiprocess==0.70.9
murmurhash==1.0.9
mwcli==0.0.3
# via mwxml
mwtypes==0.4.0
mwxml==0.3.4
mypy-extensions==1.1.0
# via typing-inspect
namex==0.0.9
# via keras
nbclient==0.8.0
nbconvert==7.16.4
nbformat==5.10.3
nest-asyncio==1.5.7
networkx==2.6.3
#   importlab
ninja==1.11.1
nlpaug==1.1.11
nltk==3.9.1
nodeenv==1.8.0
#   pyright
nose==1.3.7
notebook==6.4.12
#   jupyter-http-over-ws
numpy==1.26.0
#   blis
#   contourpy
#   db-dtypes
#   fasttext-wheel
#   h5py
#   hnswlib
#   keybert
#   ml-dtypes
#   opt-einsum
#   pandas
#   patsy
#   pyamg
#   pyarrow
#   rdp
#   scann
#   scipy
#   statsmodels
#   symspellpy
#   torchvision
oauth2client==4.1.3
oauthlib==3.2.1
#   requests-oauthlib
objsize==0.6.1
okta==2.9.8
openai==1.99.6
#   mem0ai
openai-agents==0.2.5
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
# via openapi-core
opencensus==0.11.2
opencensus-context==0.1.3
opencensus-ext-fastapi==0.1.0
opencensus-ext-flask==0.8.1
opencensus-ext-stackdriver==0.8.0
opentelemetry-api==1.27.0
#   microsoft-kiota-abstractions
#   opentelemetry-instrumentation
#   opentelemetry-instrumentation-dbapi
#   opentelemetry-instrumentation-django
#   opentelemetry-instrumentation-fastapi
#   opentelemetry-instrumentation-psycopg2
#   opentelemetry-instrumentation-requests
#   opentelemetry-instrumentation-urllib
#   opentelemetry-instrumentation-urllib3
#   opentelemetry-instrumentation-wsgi
#   opentelemetry-resourcedetector-gcp
#   opentelemetry-sdk
opentelemetry-exporter-gcp-monitoring==1.9.0a0
opentelemetry-exporter-gcp-trace==1.0.0
opentelemetry-exporter-otlp-proto-common==1.27.0
# via opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
# via opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-dbapi==0.48b0
# via opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-django==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-flask==0.48b0
opentelemetry-instrumentation-psycopg2==0.48b0
opentelemetry-instrumentation-requests==0.48b0
opentelemetry-instrumentation-urllib==0.48b0
opentelemetry-instrumentation-urllib3==0.48b0
opentelemetry-instrumentation-wsgi==0.48b0
opentelemetry-proto==1.27.0
#   opentelemetry-exporter-otlp-proto-common
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-resourcedetector-gcp==1.9.0a0
# via opentelemetry-exporter-gcp-monitoring
opentelemetry-sdk==1.27.0
#   opentelemetry-resource-detector-azure
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opsgenie-sdk==2.1.5
opt-einsum==3.3.0
optree==0.15.0
ordered-set==4.1.0
orderly-set==5.5.0
# via deepdiff
orjson==3.9.15
outcome==1.3.0.post0
overrides==6.5.0
packaging==23.2
#   build
#   deprecation
#   gunicorn
#   jpype1
#   marshmallow
pandas==1.5.3
pandocfilters==1.5.0
para==0.0.8
parameterized==0.7.1
paramiko==3.4.0
parse==1.20.2
#   behave
#   parse-type
parse-type==0.6.4
# via behave
parsedatetime==2.6
parso==0.8.3
#   jedi
pathable==0.4.4
# via jsonschema-path
pathy==0.10.2
patsy==0.5.3
pdf2image==1.17.0
pdfminer-six==20220319
peft==0.15.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
#   pdf2image
pip==24.2
# via pip-tools
pip-licenses==4.3.3
pip-tools==6.13.0
platformdirs==2.6.1
#   jupyter-core
playwright==1.45.0
pluggy==1.3.0
polib==1.2.0
polling==0.3.0
portalocker==2.10.0
posthog==3.25.0
# via mem0ai
pre-commit==4.2.0
preshed==3.0.8
prettytable==3.9.0
#   pip-licenses
prometheus-client==0.17.1
prompt-toolkit==3.0.39
propcache==0.3.2
# via yarl
proto-plus==1.23.0
protobuf==3.20.3
#   opentelemetry-proto
#   proto-plus
psutil==5.9.1
ptyprocess==0.7.0
#   pexpect
#   terminado
py4j==0.10.9.7
# via pyspark
pyamg==5.0.0
pyarrow==14.0.1
pyarrow-hotfix==0.4
pyasn1==0.5.0
#   pyasn1-modules
#   rsa
pyasn1-modules==0.3.0
pybind11==2.12.0
pyclamd==0.4.0
pycparser==2.21
#   cffi
pycryptodome==3.18.0
pycryptodomex==3.21.0
pydantic[email]==2.11.7
#   confection
#   fastapi
#   openapi-pydantic
#   pydantic-settings
pydantic-core==2.33.2
pydantic-settings==2.10.1
pydash==7.0.6
pydeck==0.9.1
pydot==1.4.2
pydrive2==1.21.3
pyee==11.1.0
pygithub==1.55
pygments==2.16.1
pygtrie==2.5.0
pyhcl==0.4.4
pyjsparser==2.7.1
#   js2py
pyjwt[crypto]==2.4.0
pylibsrtp==0.12.0
pymemcache==4.0.0
pymongo==4.5.0
pymupdf==1.26.0
# via pymupdf4llm
pymupdf4llm==0.0.24
pymysql==1.1.1
pynacl==1.5.0
pyopenssl==24.1.0
pyparsing==2.4.7
#   httplib2
#   pydot
pyperclip==1.9.0
pyproject-hooks==1.0.0
pyrfc3339==2.0.1
pyright==1.1.400
pyrsistent==0.19.3
pysocks==1.7.1
#   urllib3
pyspark==3.5.5
pytest==7.4.1
#   pytest-rerunfailures
pytest-rerunfailures==10.2
pytextrank==3.2.1
python-dateutil==2.8.2
#   dateparser
#   glean-indexing-api-client
#   strictyaml
python-decouple==3.8
# via streamlit-aggrid
python-dotenv==1.1.0
python-dxf==7.6.0
python-hcl2==5.0.0
python-http-client==3.3.7
python-json-logger==2.0.7
python-multipart==0.0.18
python-snappy==0.7.3
python-terraform==0.10.1
pytype==2019.9.6
pytz==2024.1
#   apscheduler
#   tzlocal
pyyaml==6.0
#   jsonschema-path
pyzmq==26.0.3
qdrant-client==1.15.1
ratelimiter==1.2.0
rdp==0.8
readerwriterlock==1.0.9
redis==5.1.1
# via apache-beam
referencing==0.30.2
#   jsonschema-specifications
regex==2024.4.28
#   tiktoken
reportportal-client==5.2.1
requests[socks]==2.32.5
#   azure-core
#   docker
#   hvac
#   requests-toolbelt
#   responses
#   undetected-chromedriver
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
retry2==0.9.5
retrying==1.3.3
rfc3339-validator==0.1.4
# via openapi-schema-validator
rich==13.9.4
#   rich-rst
rich-rst==1.3.1
# via cyclopts
roundrobin==0.0.4
rpds-py==0.10.2
rsa==4.9
ruff==0.6.2
s3transfer==0.10.2
sacremoses==0.0.49
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.10.1
#   summa
secretstorage==3.3.3
selenium==4.21.0
send2trash==1.8.2
sendgrid==6.12.4
sentence-transformers==3.0.0
sentencepiece==0.1.99
setproctitle==1.3.3
setuptools==70.3.0
#   nodeenv
#   zope-event
#   zope-interface
shapely==1.8.5.post1
simplejson==3.19.3
# via awslambdaric
six==1.16.0
#   absl-py
#   asttokens
#   astunparse
#   bleach
#   ecdsa
#   google-pasta
#   isodate
#   python-dateutil
#   retrying
#   rfc3339-validator
slack-sdk==3.34.0
smart-open==6.4.0
#   pathy
smmap==5.0.0
#   gitdb
snapshot-restore-py==1.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
# via trio
soupsieve==2.5
#   beautifulsoup4
spacy==3.7.5
#   en-core-web-sm
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlalchemy==2.0.31
sqlparse==0.5.0
srsly==2.4.7
sse-starlette==2.3.6
# via mcp
stanza==1.8.1
starlette==0.40.0
statsmodels==0.14.0
std-uritemplate==2.0.5
# via microsoft-kiota-abstractions
streamlit==1.39.0
streamlit-aggrid==1.0.5
strictyaml==1.7.3
summa==1.2.0
sympy==1.13.1
symspellpy==6.5.0
tabulate==0.8.9
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.1
tensorflow==2.18.1
#   tf-keras
tensorflow-io==0.37.1
tensorflow-io-gcs-filesystem==0.37.1
#   tensorflow-io
tensorflow-lattice==2.1.1
tensorflow-ranking==0.5.3
tensorflow-serving-api==2.18.0
termcolor==2.3.0
terminado==0.17.1
textdistance==4.2.0
tf-keras==2.18.0
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
#   pyproject-hooks
tomlkit==0.12.1
toolz==1.0.0
# via altair
tornado==6.5
tqdm==4.66.1
traitlets==5.9.0
#   comm
#   matplotlib-inline
transformers==4.48.3
tree-sitter==0.20.0
#   tree-sitter-languages
tree-sitter-languages==1.9.1
trio==0.24.0
trio-websocket==0.12.2
# via selenium
typed-ast==1.5.5
typer==0.4.2
types-requests==2.31.0.6
types-urllib3==1.26.25.14
# via types-requests
typing-extensions==4.12.2
#   asgiref
#   astroid
#   cloudpathlib
#   optree
#   pydantic
#   pydantic-core
#   pydash
#   pyee
#   readerwriterlock
#   typing-inspect
#   typing-inspection
typing-inspect==0.9.0
# via dataclasses-json
typing-inspection==0.4.1
tzdata==2025.2
tzlocal==2.1
undetected-chromedriver==3.5.5
uritemplate==3.0.1
urllib3[socks]==1.26.17
uvicorn==0.34.3
uvicorn-worker==0.3.0
vine==5.1.0
#   amqp
#   kombu
virtualenv==20.21.1
wasabi==0.10.1
watchdog==4.0.1
watchtower==3.0.1
wcwidth==0.2.6
#   prettytable
#   prompt-toolkit
weasel==0.4.1
# via spacy
webencodings==0.5.1
#   tinycss2
websocket-client==1.8.0
websockets==15.0.1
# via undetected-chromedriver
werkzeug==3.0.3
#   sendgrid
wheel==0.38.1
wrapt==1.14.1
#   deprecated
wsproto==1.2.0
# via trio-websocket
www-authenticate==0.9.2
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.20.1
zenpy==2.0.49
zipp==3.20.2
# via importlib-metadata
zope-event==5.0
zope-interface==6.3
zstandard==0.24.0
